<footer>
  {% if site.cta_banner.links %}
    <div id="cta-banner" class="cta-banner">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="d-flex flex-wrap gap-2">
          {% for link in site.cta_banner.links %}
            {% if link.url != page.url %}
            <a href="{{ link.url }}" aria-label="{{ link.text }}" tabindex="-1" class="cta-banner-button btn btn-sm">
              {% if link.icon %}<i class="fa-solid {{ link.icon }}" aria-hidden="true"></i>{% endif %}
              {{ link.text }}
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="/assets/lf-ui/cta-banner.js" defer></script>
  {% endif %}
  {% if site.feedback.link %}
    <div class="container">
      <div class="mb-4 alert alert-light cta-text">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="currentColor" style="width:0.85em;height:0.85em;vertical-align:-0.05em;margin-right:0.35em;"><path d="M272 384c9.6-31.9 29.5-59.1 49.2-86.2c0 0 0 0 0 0c5.2-7.1 10.4-14.2 15.4-21.4c19.8-28.5 31.4-63 31.4-100.3C368 78.8 289.2 0 192 0S16 78.8 16 176c0 37.3 11.6 71.9 31.4 100.3c5 7.2 10.2 14.3 15.4 21.4c0 0 0 0 0 0c19.8 27.1 39.7 54.4 49.2 86.2l160 0zM192 512c44.2 0 80-35.8 80-80l0-16-160 0 0 16c0 44.2 35.8 80 80 80zM112 176c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-61.9 50.1-112 112-112c8.8 0 16 7.2 16 16s-7.2 16-16 16c-44.2 0-80 35.8-80 80z"/></svg>
        {{ site.feedback.text }} <a href="{{ site.feedback.link }}">{{ site.feedback.link_text }}</a>
      </div>
    </div>
  {% endif %}
  <div class="container footer-bar border-top">
    <ul class="footer-nav">
      {% for item in nav.docs %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
    <p class="mb-0">
      <a href="/site-index/">Site index</a>
    </p>
  </div>
</footer>
